@import '../../node_modules/reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

$white: #f7f7f7;
$black: #1b1b1b;
$gray: #2b2b2b;
$orange:  #ff5722;

// html {
//     scroll-behavior: smooth;
// }

body {
    background-color: $gray;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    width: 100vw;
    height: 50px;
    // outline: 1px solid $white;
    background-color: $black;
    display: block;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0px 2px 10px $black;

    .header-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 1.25em;
            margin: 0 20px;
            // outline: 1px solid $white;
            ul{
                display: flex;
                li {
                    padding: 0 20px;
                    p, a {
                        visibility :hidden;
                        cursor: pointer;
                        color: $white;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                    .active {
                        color: $orange;
                    }
                }
            }
        }
    }
}


.sectionContainer{
    margin: 0 auto;
    max-width: 1280px;

    .fakeHeader {
        height: 50px;
        background-color: transparent;
        z-index: -1;
    }

    .divider {
        height: 50px;
        border: 1px solid $white;
        border: 1px solid $orange;
    }

    section {
        height: calc(100vh - 50px);
        color: $white;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 3rem;
    }
    
    section.home {

        display: grid;
        grid-template-columns: 4em 1fr 1fr 4em;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-template-areas: ". content circles .";

        .content {
            grid-area: content;
            align-self: center;
            z-index: 1;
            visibility: hidden;
            
            transform-style: preserve-3d;
            transform: perspective(1000px);
        }

        .circles {
            position: relative;
            // top: 10%;
            height: 80%;
            grid-area: circles;
            align-self: center;
            visibility: hidden;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transform-style: preserve-3d;
            transform: perspective(1000px);
            .circle {
                background: #f7f7f7;
                position: absolute;
                top: 20%;
                border-radius: 50%;
                box-shadow: -2px -2px 40px $black;
            }
            .circle1 {
                width: 400px;
                height: 400px;
                transform: translate(0px, 0px);
                background-color: #ff5722;
            }
            .circle2 {
                width: 500px;
                height: 500px;
                transform: translate(0, -100px);
                background-color: #CA4C24;
            }
            .circle3 {
                width: 600px;
                height: 600px;
                transform: translate(50px, -150px);
                background-color: #954127;
            }
            .circle4 {
                width: 700px;
                height: 700px;
                transform: translate(50px, -150px);
                background-color: #603629;
            }
        }
    }
    
    section.about {
        display: grid;
        grid-template-columns: 2em 1fr 1fr 2em;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-template-areas: ". rects content .";
    
        .content {
            grid-area: content;
            align-self: center;
            justify-self: right;
            z-index: 1;
            
            transform-style: preserve-3d;
            transform: perspective(1000px);
            div {
                overflow: hidden;
                p {
                    visibility: hidden;
                }
            }
        }
    
        .rects {
            position: relative;
            left: 10%;
            // height: 80%;
            grid-area: rects;
            align-self: center;
            justify-self: center;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            transform-style: preserve-3d;
            transform: perspective(1000px);
            .rect {
                visibility: hidden;
                background: #f7f7f7;
                position: relative;
                box-shadow: -2px -2px 40px $black;
            }
            .rect1 {
                position: absolute;
                top: 0;
                width: 270px;
                height: 200px;
                transform: translate(200px, 0px) rotateZ(20deg);
                background-color: #ff5722;
            }
            .rect2 {
                position: absolute;
                top: 0;
                width: 300px;
                height: 300px;
                transform: translate(150px, -180px) rotateZ(0deg);
                background-color: #CA4C24;
            }
            .rect3 {
                position: absolute;
                top: 0;
                width: 500px;
                height: 300px;
                transform: translate(0px, -150px) rotateZ(-15deg);;
                background-color: #954127;
            }
            .rect4 {
                position: absolute;
                top: -50px;
                width: 700px;
                height: 500px;
                transform: translate(50px, -200px) rotateZ(75deg);;
                background-color: #603629;
            }
        }
    }
    
    section.work {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    section#contact {
        height: calc(100vh - 100px);
        overflow: hidden;

    
        .contact-grid-container {
            height: 100%;
    
            display: grid;
            grid-template-columns: 1em 1fr 2fr 1fr 1em;
            grid-template-rows: 1fr;
            gap: 0px 10px;
            grid-template-areas:
                ". contactL contactForm contactR .";
    
            .contactL { 
                grid-area: contactL; 
                height: 100%; 
                .circle, .rect {
                    position: relative;
                    // grid-area: circles;
                    // align-self: center;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .contactR { 
                grid-area: contactR; 
                height: 100%;
                .circle, .rect {
                    position: relative;
                    // grid-area: circles;
                    // align-self: center;
                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
            .contactForm {
                grid-area: contactForm; 
                height: 100%;
                z-index: 1;
                .from {
                    height: 100%;
                    width: 100%;
                    display: grid;
                    place-items: center;
                    color: $white;
                    span{
                        color: $orange;
                    }
                }
            }
        }
    }
}

footer {
    height: 50px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;

    position: relative;
    bottom: 0;
}
