@import '../../node_modules/reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

$white: #f7f7f7;
$black: #1b1b1b;
$gray: #2b2b2b;
$orange:  #ff5722;

html {
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    background-color: $black;
}

body {
    background-color: $gray;
    overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

header {
    width: 100vw;
    height: 50px;
    // outline: 1px solid $white;
    display: block;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    visibility: hidden;

    background-color: $black;
    box-shadow: 0px 2px 10px $black;

    .header-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 1.25em;
            margin: 0 20px;
            // outline: 1px solid $white;
            ul{
                display: flex;
                li {
                    padding: 0 20px;
                    p, a {
                        visibility :hidden;
                        cursor: pointer;
                        color: $white;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                    
                    .active {
                        color: $orange;
                    }
                }
            }
        }
        .section-links {
            margin: 0 50px;
        }
        .toggle {
            font-size: 1.5em;
        }
    }
}


.sectionContainer{
    margin: 0 auto;
    max-width: 1280px;

    .fakeHeader {
        height: 50px;
        background-color: transparent;
        z-index: -1;
    }

    .divider {
        height: 50px;
        width: 100vh;
        margin: 0 auto;
        // border: 1px solid $white;
    }

    section {
        height: calc(100vh - 50px);
        color: $white;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 3rem;
    }
    
    section.home {
        position: relative;
        .scrollDownIndicator {
            position: absolute;
            bottom: 2rem;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
            @keyframes blink { // @keyframes does not cascade, one is enough
                0% { color: $white; };
                50% { color: $orange; };
                100% { color: $white; };
            }
        }

        .layers {
            transform-style: preserve-3d;
            transform: perspective(1000px);
    
            position: relative;
            height: 100%;
            max-width: 1280px;
            margin: 0 auto;

            // overflow: hidden;

            .todo {
                font-size: 1.25rem;
                line-height: 2rem;
                li {
                    list-style: circle;
                }
            }

            .layerContent {
                position: absolute;
                top: 15%;
                left: 0;
                width: 62%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                // outline: 1px solid $white;
                div {
                    overflow: hidden;
                    // p {
                    //     // visibility: hidden;
                    // }
                    .name1 {
                        font-size: 7rem;
                    }
                    .name2 {
                        font-size: 4rem;
                    }
                    .name3 {
                        font-size: 2rem;
                    }
                }
            }

            .layerCircle {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                display: grid;
                place-items: center;
                // visibility: hidden;
                // outline: 1px solid $white;
                box-shadow: -2px -2px 40px $black;
            }
            .circle1 {
                width: 25vh;
                height: 25vh;
                z-index: -1;
                // overflow: hidden;
                transform: translate(290%, 35%);
                background-color: #ff5722;
            }
            .circle2 {
                width: 45vh;
                height: 45vh;
                z-index: -1;
                transform: translate(200%, 10%);
                background-color: #CA4C24;
            }
            .circle3 {
                width: 65vh;
                height: 65vh;
                z-index: -1;
                transform: translate(80%, 10%);
                background-color: #954127;
            }
            .circle4 {
                height: 85vh;
                width: 85vh;
                z-index: -1;
                border-radius: 50%;
                transform: translate(80%, 30%);
                background-color: #603629;
            }
        }
    }
    
    section.about {
        position: relative;

        .scrollUpIndicator {
            position: absolute;
            top: 0;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1s;
            }
        }

        .scrollDownIndicator {
            position: absolute;
            bottom: 2rem;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
        }

        .rects {
            position: relative;
            height: 100%;
            max-width: 1280px;
            margin: 0 auto;
            transform-style: preserve-3d;
            transform: perspective(1000px);
            .rect {
                // visibility: hidden;
                background: #f7f7f7;
                position: relative;
                box-shadow: -2px -2px 40px $black;
            }
            .rectContent {
                position: absolute;
                top: 15%;
                width: 40%;
                height: 70%;
                transform: translate(100%, 0px);;
                background-color: transparent;
                // outline: 1px solid $white;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div {
                    overflow: hidden;
                    margin: 0.5rem 0;
                    p {
                        // visibility: hidden;
                        font-size: 1.25rem;
                    }
                }
            }
            .rect1 {
                position: absolute;
                top: 0;
                width: 30vh;
                height: 22vh;
                transform: translate(230%, 250%) rotateZ(20deg);
                background-color: #ff5722;
            }
            .rect2 {
                position: absolute;
                top: 0;
                width: 30vh;
                height: 30vh;
                transform: translate(150%, 80%) rotateZ(0deg);
                background-color: #CA4C24;
            }
            .rect3 {
                position: absolute;
                top: 0;
                width: 105vh;
                height: 60vh;
                transform: translate(-20%, 30%) rotateZ(-10deg);
                background-color: #954127;
            }
            .rect4 {
                position: absolute;
                top: 0px;
                width: 120vh;
                height: 70vh;
                transform: translate(-20%, 10%) rotateZ(75deg);
                background-color: #603629;
            }
        }
    }
    
    section.work {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        h1 {
            width: 200px;
        }
        p {
            width: 600px;
            font-size: 1.5rem;
            line-height: 2rem;
        }


        .scrollUpIndicator {
            position: absolute;
            top: 0;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1s;
            }
        }

        .scrollRightIndicator {
            position: absolute;
            top: calc(50% - 1rem);
            right: 1rem;
            display: flex;
            .icon {
                height: 1.5rem;
                margin: 0 -0.2rem;
                padding: 0;
                animation: right 1s ease-in-out infinite;
            }

            @keyframes right {
                0% { color: $white; transform: translateX(0%);};
                50% { color: $white; transform: translateX(100%);};
                100% { color: $white; transform: translateX(0%);};
            }
        }

        .scrollDownIndicator {
            position: absolute;
            bottom: 2rem;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
        }
    }
    
    section.contact {
        height: calc(100vh - 100px);
        // overflow: hidden;

        position: relative;
        .scrollUpIndicator {
            position: absolute;
            top: 0;
            left: calc(50% - 1rem);
            .icon {
                height: 1.5rem;
            }
            .first {
                animation: blink 1s ease-in-out infinite 1.66s;
            }
            .second {
                animation: blink 1s ease-in-out infinite 1.33s;
            }
            .third {
                animation: blink 1s ease-in-out infinite 1s;
            }
        }
    
        .contact-grid-container {
            height: 100%;
    
            display: grid;
            grid-template-columns: 1em 1fr 1fr 1fr 1em;
            grid-template-rows: 1fr;
            gap: 0px 10px;
            grid-template-areas:
                ". contactL contactForm contactR .";
    
            .contactL {
                position: relative;
                grid-area: contactL; 
                height: 100%; 
                .circleL, .rectL {
                    position: absolute;
                    left: 0;
                    top: 0;
                    visibility: hidden;
                }
                .circleL {
                    position: absolute;
                    width: 35vh;
                    height: 35vh;
                    background-color: #ff5722;
                    border-radius: 50%;
                    box-shadow: -2px -2px 40px $black;
                    border-radius: 50%;
                    transform: translate(10%, 25%);
                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: #ff5722;
                    //     box-shadow: -2px -2px 40px $black;
                    //     border-radius: 50%;
                    //     transform: translate(10%, 25%);
                    // }
                }
                .rectL {
                    position: absolute;
                    width: 45vh;
                    height: 50vh;
                    // z-index: 0;
                    background-color: #603629;
                    box-shadow: -2px -2px 40px $black;
                    transform: translate(10%, 55%) rotate(-15deg);
                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: #603629;
                    //     box-shadow: -2px -2px 40px $black;
                    //     transform: translate(10%, 55%) rotate(-15deg);
                    // }
                }
            }
            .contactR { 
                position: relative;
                grid-area: contactR; 
                height: 100%; 
                .circleR, .rectR {
                    position: absolute;
                    top: 0;
                    right: 0;
                    visibility: hidden;
                }
                .circleR {
                    position: absolute;
                    width: 50vh;
                    height: 50vh;
                    z-index: 0;
                    background-color: #954127;
                    border-radius: 50%;
                    box-shadow: -2px -2px 40px $black;
                    transform: translate(0%, 15%);
                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: #954127;
                    //     box-shadow: -2px -2px 40px $black;
                    //     border-radius: 50%;
                    //     transform: translate(0%, 15%);
                    // }
                }
                .rectR {
                    position: absolute;
                    width: 30vh;
                    height: 50vh;
                    z-index: 0;
                    background-color: #CA4C24;
                    box-shadow: -2px -2px 40px $black;
                    transform: translate(-10%, 55%) rotate(-15deg)
                    // &::before {
                    //     content: '';
                    //     position: absolute;
                    //     top: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: #CA4C24;
                    //     box-shadow: -2px -2px 40px $black;
                    //     transform: translate(-10%, 55%) rotate(-5deg);
                    // }
                }
            }

            .contactForm {

                div.mask {
                    overflow: hidden;
                }

                grid-area: contactForm; 
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
                // visibility: hidden;
                .title {
                    width: 100%;
                    display: grid;
                    place-items: center;
                    color: $white;
                }
                .form {
                    text-align: center;

                    .form-control {
                        display: flex;
                        flex-direction: column;
                        align-content: center;
                        justify-content: center;
                        .formTitle {
                            color: $white;
                            font-size: 1.25rem;
                            margin: 30px 0 10px 0;
                            text-align: center;
                        }
                        .inputField {
                            margin: 0;
                            height: 30px;
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;

                            // border: none;
                            border: 3px solid $white;
                            background-color: transparent;
                            color: $white;
                            
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            // backdrop-filter: blur(10px);
                            &:focus {
                                outline: none;
                                border: 3px solid $orange;
                            }
                        }
                        .inputTextArea {
                            margin: 0;
                            height: 95px;
                            width: 100%;
                            padding: 10px;
                            box-sizing: border-box;

                            // border: none;
                            border: 3px solid $white;
                            background-color: transparent;
                            color: $white;

                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            resize: none;
                            // backdrop-filter: blur(10px);
                            &:focus {
                                outline: none;
                                border: 3px solid $orange;
                            }
                            &:valid {
                                background-color: transparent;
                            }
                        }
                        .formError {
                            color: $orange;
                            font-size: 1.25rem;
                            margin-top: 10px;
                            text-align: end;
                        }
                    }
                    button {
                        padding: 10px 20px;
                        margin-top: 40px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 800;
                        font-size: 1.25rem;
                        text-transform: uppercase;
                        
                        // color: $orange;
                        background: $black;

                        border: none;
                        outline: none;
                        box-shadow: 0px 2px 10px $black;

                        cursor: pointer;
                    }

                    // .submitBtnDisabled {
                    //     padding: 10px 20px;
                    //     margin-top: 40px;
                    //     font-family: 'Poppins', sans-serif;
                    //     font-weight: 800;
                    //     font-size: 1.25rem;
                    //     text-transform: uppercase;
                        
                    //     // color: $gray;
                    //     background: $black;

                    //     border: none;
                    //     outline: none;
                    //     box-shadow: 0px 2px 10px $black;

                    //     cursor: no-drop;
                    // }

                    p {
                        font-size: 1rem;
                        margin-top: 30px;
                        line-height: 2rem;
                    }

                    .submitFailed {
                        color: $orange
                    }
                    .submitSuccess {
                        color: $white
                    }
                }
            }
        }
    }
}

footer {
    height: 50px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;

    position: relative;
    bottom: 0;
}

.scrollUpIndicator, .scrollRightIndicator, .scrollDownIndicator {
    cursor: pointer;
}

