/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  opacity: 0;
  background-color: #1b1b1b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: url("../images/Cursor.png"), auto;
}

body {
  background-color: #2b2b2b;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 50px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  visibility: hidden;
  background-color: #1b1b1b;
  -webkit-box-shadow: 0px 2px 10px #1b1b1b;
          box-shadow: 0px 2px 10px #1b1b1b;
}

header .header-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .header-container .links {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.25em;
  margin: 0 20px;
}

header .header-container .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .links ul li {
  padding: 0 20px;
  cursor: url("../images/CursorPointer.png"), auto;
}

header .header-container .links ul li p, header .header-container .links ul li a {
  cursor: url("../images/CursorPointer.png"), auto;
  visibility: hidden;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: capitalize;
}

header .header-container .links ul li .active {
  color: #ff5722;
}

header .header-container .section-links {
  margin: 0 50px;
}

header .header-container .toggle {
  font-size: 1.5em;
}

.sectionContainer {
  margin: 0 auto;
  max-width: 1280px;
}

.sectionContainer .fakeHeader {
  height: 50px;
  background-color: transparent;
  z-index: -1;
}

.sectionContainer .divider {
  height: 50px;
  width: 100vh;
  margin: 0 auto;
}

.sectionContainer section {
  height: calc(100vh - 50px);
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.sectionContainer section.home {
  position: relative;
}

.sectionContainer section.home .scrollDownIndicator {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
}

.sectionContainer section.home .scrollDownIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.home .scrollDownIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.home .scrollDownIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.home .scrollDownIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

@-webkit-keyframes blink {
  0% {
    color: #f7f7f7;
  }
  50% {
    color: #ff5722;
  }
  100% {
    color: #f7f7f7;
  }
}

@keyframes blink {
  0% {
    color: #f7f7f7;
  }
  50% {
    color: #ff5722;
  }
  100% {
    color: #f7f7f7;
  }
}

.sectionContainer section.home .layers {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  position: relative;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (pointer: coarse) {
  .sectionContainer section.home .layers {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.sectionContainer section.home .layers .todo {
  font-size: 1.25rem;
  line-height: 2rem;
}

.sectionContainer section.home .layers .todo li {
  list-style: circle;
}

.sectionContainer section.home .layers .layerContent {
  position: absolute;
  top: 15%;
  left: 0;
  width: 55%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  outline: 1px solid #f7f7f7;
  -webkit-transform: translate(5%, 0);
          transform: translate(5%, 0);
}

.sectionContainer section.home .layers .layerContent div {
  overflow: hidden;
}

.sectionContainer section.home .layers .layerContent div .name1 {
  font-size: 7rem;
}

.sectionContainer section.home .layers .layerContent div .name3 {
  font-size: 2rem;
  line-height: 2.5rem;
}

@media (min-width: 640px) and (max-width: 1024px) {
  .sectionContainer section.home .layers .layerContent {
    width: 60%;
    left: 20%;
    height: 70%;
    outline: 1px solid #ff5722;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .sectionContainer section.home .layers .layerContent div .name1 {
    font-size: 5rem;
  }
  .sectionContainer section.home .layers .layerContent div .name3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 640px) {
  .sectionContainer section.home .layers .layerContent {
    width: 60%;
    left: 20%;
    height: 70%;
    outline: 1px solid #ff5722;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .sectionContainer section.home .layers .layerContent div .name1 {
    font-size: 3.5rem;
  }
  .sectionContainer section.home .layers .layerContent div .name3 {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.sectionContainer section.home .layers .layerCircle {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
}

.sectionContainer section.home .layers .circle1 {
  width: 25vh;
  height: 25vh;
  z-index: -1;
  -webkit-transform: translate(-200%, 35%);
          transform: translate(-200%, 35%);
  background-color: #ff5722;
}

.sectionContainer section.home .layers .circle2 {
  width: 45vh;
  height: 45vh;
  z-index: -1;
  -webkit-transform: translate(-20%, 10%);
          transform: translate(-20%, 10%);
  background-color: #CA4C24;
}

.sectionContainer section.home .layers .circle3 {
  width: 65vh;
  height: 65vh;
  z-index: -1;
  -webkit-transform: translate(-40%, 10%);
          transform: translate(-40%, 10%);
  background-color: #954127;
}

.sectionContainer section.home .layers .circle4 {
  height: 85vh;
  width: 85vh;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
  background-color: #603629;
}

.sectionContainer section.about {
  position: relative;
}

.sectionContainer section.about .scrollUpIndicator {
  position: absolute;
  top: 0;
  left: calc(50% - 1rem);
}

.sectionContainer section.about .scrollUpIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.about .scrollUpIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

.sectionContainer section.about .scrollUpIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.about .scrollUpIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.about .scrollDownIndicator {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
}

.sectionContainer section.about .scrollDownIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.about .scrollDownIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.about .scrollDownIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.about .scrollDownIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

.sectionContainer section.about .rects {
  position: relative;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

@media (pointer: coarse) {
  .sectionContainer section.about .rects {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.sectionContainer section.about .rects .rect {
  background: #f7f7f7;
  position: relative;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
}

.sectionContainer section.about .rects .rectContent {
  position: absolute;
  top: 15%;
  right: 0;
  width: 33%;
  height: 70%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: transparent;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionContainer section.about .rects .rectContent div {
  overflow: hidden;
  margin: 0.5rem 0;
}

.sectionContainer section.about .rects .rectContent div p {
  font-size: 1.25rem;
}

.sectionContainer section.about .rects .rectContent div p span.orange {
  color: #ff5722;
}

@media (min-width: 640px) and (max-width: 1024px) {
  .sectionContainer section.about .rects .rectContent {
    right: 25%;
    width: 50%;
    height: 70%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 640px) {
  .sectionContainer section.about .rects .rectContent {
    top: 13%;
    right: 15%;
    width: 70%;
    height: 70%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    line-height: 1.5rem;
  }
  .sectionContainer section.about .rects .rectContent div p {
    font-size: 1rem;
  }
  .sectionContainer section.about .rects .rectContent div p span.orange {
    color: #ff5722;
  }
}

.sectionContainer section.about .rects .rect1 {
  position: absolute;
  top: 0;
  width: 30vh;
  height: 22vh;
  -webkit-transform: translate(230%, 250%) rotateZ(20deg);
          transform: translate(230%, 250%) rotateZ(20deg);
  background-color: #ff5722;
}

@media (min-width: 640px) and (max-width: 1024px) {
  .sectionContainer section.about .rects .rect1 {
    -webkit-transform: translate(30%, 250%) rotateZ(20deg);
            transform: translate(30%, 250%) rotateZ(20deg);
  }
}

@media (max-width: 640px) {
  .sectionContainer section.about .rects .rect1 {
    -webkit-transform: translate(30%, 250%) rotateZ(20deg);
            transform: translate(30%, 250%) rotateZ(20deg);
  }
}

.sectionContainer section.about .rects .rect2 {
  position: absolute;
  top: 0;
  width: 30vh;
  height: 30vh;
  -webkit-transform: translate(150%, 80%) rotateZ(0deg);
          transform: translate(150%, 80%) rotateZ(0deg);
  background-color: #CA4C24;
}

.sectionContainer section.about .rects .rect3 {
  position: absolute;
  top: 0;
  width: 105vh;
  height: 60vh;
  -webkit-transform: translate(-10%, 30%) rotateZ(-10deg);
          transform: translate(-10%, 30%) rotateZ(-10deg);
  background-color: #954127;
}

.sectionContainer section.about .rects .rect4 {
  position: absolute;
  top: 0px;
  width: 120vh;
  height: 70vh;
  -webkit-transform: translate(-10%, 20%) rotateZ(75deg);
          transform: translate(-10%, 20%) rotateZ(75deg);
  background-color: #603629;
}

.sectionContainer section.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sectionContainer section.work .cards {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionContainer section.work .cards .card {
  position: relative;
  width: 320px;
  height: 465px;
  -webkit-box-shadow: -10px -10px 40px #1b1b1b;
          box-shadow: -10px -10px 40px #1b1b1b;
  overflow: hidden;
}

.sectionContainer section.work .cards .card .image {
  background-color: #ff7e55;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.sectionContainer section.work .cards .card .image .gatsbyImage {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sectionContainer section.work .cards .card .image2 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.sectionContainer section.work .cards .card .details {
  position: absolute;
  top: 75.3%;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.sectionContainer section.work .cards .card .details .title {
  padding: 0.5rem 0.5rem;
  font-size: 3rem;
  background-color: #f7f7f7;
  color: #2b2b2b;
  height: 100%;
  width: 100%;
}

.sectionContainer section.work .cards .card .details .title p {
  overflow: hidden;
  padding: 0 0 0.4rem 0;
  visibility: hidden;
}

.sectionContainer section.work .cards .card .details .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: #2b2b2b;
  background-color: #f7f7f7;
  line-height: 1.5rem;
  height: 200%;
  width: 100%;
}

.sectionContainer section.work .cards .card:hover .details {
  top: 38%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 -10px 40px #1b1b1b;
          box-shadow: 0 -10px 40px #1b1b1b;
}

.sectionContainer section.work .cards .card:hover .gatsbyImage {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.sectionContainer section.work .scrollUpIndicator {
  position: absolute;
  top: 0;
  left: calc(50% - 1rem);
}

.sectionContainer section.work .scrollUpIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.work .scrollUpIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

.sectionContainer section.work .scrollUpIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.work .scrollUpIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.work .scrollRightIndicator {
  position: absolute;
  top: calc(50% - 3rem);
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6rem;
  width: 6rem;
  margin: 0 -0.2rem;
  padding: 0;
  font-size: 2rem;
  -webkit-animation: right 1.5s ease-in-out infinite;
          animation: right 1.5s ease-in-out infinite;
}

.sectionContainer section.work .scrollRightIndicator a {
  text-decoration: none;
  color: #f7f7f7;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@-webkit-keyframes right {
  0% {
    color: #f7f7f7;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    color: #f7f7f7;
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
  }
  100% {
    color: #f7f7f7;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    color: #f7f7f7;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  50% {
    color: #f7f7f7;
    -webkit-transform: translateX(33%);
            transform: translateX(33%);
  }
  100% {
    color: #f7f7f7;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.sectionContainer section.work .scrollDownIndicator {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
}

.sectionContainer section.work .scrollDownIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.work .scrollDownIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.work .scrollDownIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.work .scrollDownIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

.sectionContainer .workSectionCover {
  position: absolute;
  top: 0;
  left: 100vw;
  background-color: #ff5722;
  width: 100vw;
  height: 100%;
  z-index: 20;
}

.sectionContainer section.contact {
  height: calc(100vh - 100px);
  position: relative;
}

.sectionContainer section.contact .scrollUpIndicator {
  position: absolute;
  top: 0;
  left: calc(50% - 1rem);
}

.sectionContainer section.contact .scrollUpIndicator .icon {
  height: 1.5rem;
}

.sectionContainer section.contact .scrollUpIndicator .first {
  -webkit-animation: blink 1s ease-in-out infinite 1.66s;
          animation: blink 1s ease-in-out infinite 1.66s;
}

.sectionContainer section.contact .scrollUpIndicator .second {
  -webkit-animation: blink 1s ease-in-out infinite 1.33s;
          animation: blink 1s ease-in-out infinite 1.33s;
}

.sectionContainer section.contact .scrollUpIndicator .third {
  -webkit-animation: blink 1s ease-in-out infinite 1s;
          animation: blink 1s ease-in-out infinite 1s;
}

.sectionContainer section.contact .contact-grid-container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1em 1fr 1fr 1fr 1em;
      grid-template-columns: 1em 1fr 1fr 1fr 1em;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 10px;
      grid-template-areas: ". contactL contactForm contactR .";
}

.sectionContainer section.contact .contact-grid-container .contactL {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contactL;
  height: 100%;
}

.sectionContainer section.contact .contact-grid-container .contactL .circleL, .sectionContainer section.contact .contact-grid-container .contactL .rectL {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.sectionContainer section.contact .contact-grid-container .contactL .circleL {
  position: absolute;
  width: 35vh;
  height: 35vh;
  background-color: #ff5722;
  border-radius: 50%;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
  border-radius: 50%;
  -webkit-transform: translate(10%, 25%);
          transform: translate(10%, 25%);
}

.sectionContainer section.contact .contact-grid-container .contactL .rectL {
  position: absolute;
  width: 45vh;
  height: 50vh;
  background-color: #603629;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
  -webkit-transform: translate(10%, 55%) rotate(-15deg);
          transform: translate(10%, 55%) rotate(-15deg);
}

.sectionContainer section.contact .contact-grid-container .contactR {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: contactR;
  height: 100%;
}

.sectionContainer section.contact .contact-grid-container .contactR .circleR, .sectionContainer section.contact .contact-grid-container .contactR .rectR {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

.sectionContainer section.contact .contact-grid-container .contactR .circleR {
  position: absolute;
  width: 50vh;
  height: 50vh;
  z-index: 0;
  background-color: #954127;
  border-radius: 50%;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
  -webkit-transform: translate(0%, 15%);
          transform: translate(0%, 15%);
}

.sectionContainer section.contact .contact-grid-container .contactR .rectR {
  position: absolute;
  width: 30vh;
  height: 50vh;
  z-index: 0;
  background-color: #CA4C24;
  -webkit-box-shadow: -2px -2px 40px #1b1b1b;
          box-shadow: -2px -2px 40px #1b1b1b;
  -webkit-transform: translate(-10%, 55%) rotate(-15deg);
          transform: translate(-10%, 55%) rotate(-15deg);
}

.sectionContainer section.contact .contact-grid-container .contactForm {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contactForm;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.sectionContainer section.contact .contact-grid-container .contactForm div.mask {
  overflow: hidden;
}

.sectionContainer section.contact .contact-grid-container .contactForm .title {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #f7f7f7;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form {
  text-align: center;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .formTitle {
  color: #f7f7f7;
  font-size: 1.25rem;
  margin: 30px 0 10px 0;
  text-align: center;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .inputField {
  margin: 0;
  height: 30px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #f7f7f7;
  background-color: transparent;
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .inputField:focus {
  outline: none;
  border: 3px solid #ff5722;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .inputTextArea {
  margin: 0;
  height: 95px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #f7f7f7;
  background-color: transparent;
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  resize: none;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .inputTextArea:focus {
  outline: none;
  border: 3px solid #ff5722;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .inputTextArea:valid {
  background-color: transparent;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .form-control .formError {
  color: #ff5722;
  font-size: 1.25rem;
  margin-top: 10px;
  text-align: end;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form button {
  padding: 10px 20px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  text-transform: uppercase;
  background: #1b1b1b;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 10px #1b1b1b;
          box-shadow: 0px 2px 10px #1b1b1b;
  cursor: url("../images/CursorPointer.png"), auto;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form p {
  font-size: 1rem;
  margin-top: 30px;
  line-height: 2rem;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .submitFailed {
  color: #ff5722;
}

.sectionContainer section.contact .contact-grid-container .contactForm .form .submitSuccess {
  color: #f7f7f7;
}

footer {
  height: 50px;
  color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1b1b1b;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
}

.scrollUpIndicator, .scrollRightIndicator, .scrollDownIndicator, a {
  cursor: url("../images/CursorPointer.png"), auto;
}

.scrollUpIndicator, .scrollRightIndicator, .scrollDownIndicator {
  z-index: 10;
}

.toyPageCover {
  position: absolute;
  top: 0;
  left: -100vw;
  background-color: #ff5722;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  color: #f7f7f7;
}

.toys {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 800;
}

.toys a {
  text-decoration: none;
  color: #f7f7f7;
}

input, label, .inputTextArea {
  cursor: url("../images/CursorText.png"), auto;
}
/*# sourceMappingURL=layout.css.map */